<h1>New Article</h1>


<%= form_for :article, url: articles_path do |f| %>
    <p>
        <%= f.label :标题 %>
        <%= f.text_field :title %>
    </p>
    
    <p>
        <%= f.label :正文 %>
        <%= f.text_area :text %>
    </p>
    
    <p>
        <%= f.submit :提交 %>
    </p>
    
<% end %>